# Local/private config goes in the include
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore_global
  autocrlf = false
  filemode = false
  safecrlf = false
[credential]
  helper = store
[fetch]
  prune = true
[help]
  autocorrect = 1
[include]
  path = ~/.gitconfig.local
[merge]
  conflictstyle = diff3
[diff]
  algorithm = minimal
[push]
  default = current
[pull]
  rebase = true
